.my_nav_bar {
    position: sticky;
    top:0;
     z-index: 9; 
}
input
{
    background: grey;   

}
.video {
    
width: 100%
    
}

body {
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    text-align: center;
}
.img-responsive {
    width: 30%;
}